/*Add DOWNCOME font*/
@font-face {
  font-family: downcome;
  src: url(fonts/DOWNCOME.TTF);
}
/*Add Sketch font. Currently not used*/
@font-face {
  font-family: sketch;
  src: url(fonts/Sketch_Match.ttf);
}
/*Add Ubuntu Regular font*/
@font-face {
  font-family: Ubuntu;
  src: url(fonts/Ubuntu.ttf);
}
/*Stablish Ubuntu font for all document*/
* {
  font-family: Ubuntu;
}
html {
  margin-top: -14px;
}
/*Set background color for body and delete body margin*/
body {
  background-color: rgb(29, 29, 29);
  /* background-image: url("../img/bg.jpg"); */
  /* background-repeat: repeat; */
  color: white;
}
/*Set background for header, set shadow, align text in centre position*/
.logo {
  font-size: 3em;
  text-align: center;
  background-color: rgba(51, 51, 51, 1);
  box-shadow: 0 0 50px 10px black inset;
}

/*Navigation Style*/
nav {
  background-color: rgb(71, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 20px 4px black;
}
nav #menu {
  display: none;
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
nav ul #selected {
  background-color: rgb(265, 161, 0);
}
nav ul #selected:hover {
  background-color: rgb(71, 0, 0);
}
nav ul li {
  padding: 1em;
  transition: background-color .4s;
  background-color: rgb(36, 36, 36);
  width: 130px;
  text-align: center;
}
nav ul li:hover {
  background-color: rgb(30, 210, 0);
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
@media (max-width: 800px) {
  .logo {
    font-size: 1.5em;
  }
  html {
    margin-top: 35px;
  }
  img {
    width: 90%;
  }
  nav #menu {
    display: flex;
  }
  nav ul {
    display: block;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li:not(#selected) {
    display: none;
  }
}
/*Properties for Header 1 in index.html*/
h1 {
  text-shadow: 2px 2px 5px;
  font-family: downcome;
  font-weight: normal;
  color: white;
}
/*Properties for footer*/
footer {
  background-color: rgb(265, 161, 0);
  text-align: center;
  padding: 1em;
  box-shadow: 0 0 10px 5px black;
  color: black;
}
